body {
	background-image: url(../images/dark_wood.png);
}

.container {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#inputcard {
	height: 118px;
	margin-bottom: 40px;
}

.input-group {
	width: 85%;
}

#player2input {
	display: none;
}

#topcard {
	height: 131px;
}

#pname {
	margin-top: 50px;
}

#p2box, #p1box, #ready1, #ready2, #winner {
	display: none;
}
